torch
easyocr
torchvision
supervision==0.18.0
openai==1.3.5

# Fix for Florence2 Crash
transformers==4.40.0
huggingface_hub

ultralytics==8.3.70
azure-identity
numpy==1.26.4

# If you need an interactive, desktop-level GUI features, use 'opencv-python' and comment out opencv-python-headless, both of them contain the same core file.

# Includes GUI dependencies (like Qt)
#opencv-python

# Removes the GUI dependencies. This is smaller and designed for server environments.
opencv-python-headless

gradio
dill
accelerate
timm
einops==0.8.0

# To use the model on a GPU, change paddlepaddle to: paddlepaddle-gpu
paddlepaddle
# paddleocr won't be able to find the GPU since paddlepaddle is a CPU-only library.

paddleocr
ruff==0.6.7
pre-commit==3.8.0
pytest==8.3.3
pytest-asyncio==0.23.6
pyautogui==0.9.54
streamlit>=1.38.0
anthropic[bedrock,vertex]>=0.37.1
jsonschema==4.22.0
boto3>=1.28.57
google-auth<3,>=2
screeninfo
uiautomation
dashscope

groq

