torch
easyocr
torchvision
supervision
openai
transformers
ultralytics
azure-identity
numpy
opencv-python
opencv-python-headless
gradio
dill
accelerate
timm
einops
paddlepaddle
paddleocr
ruff
pre-commit
pytest
pytest-asyncio
pyautogui
streamlit
anthropic[bedrock,vertex]
jsonschema
boto3
google-auth
screeninfo
uiautomation
dashscope
groq